{% extends 'base.html' %}
{% block head %}
<!--
<meta http-equiv="refresh" content="30"/>
-->
{% endblock head %}
{% block content %}
<div class="hero-unit">
<h1 class="text-center">Sensor Web Monitor</h1>
</div>
{% if read_data %}

<div class="row">
    <div class="span4">
        <p style="background:#f4f4f4; letter-spacing:4px">Temperatura</p>
        <span style="font-size:56px;font-weight:bold"> {{ read_data.temperature }}&deg;C</span>

        <!--
        <p><a class="btn" href="#">Click
            meeee &raquo;</a></p>
        -->
    </div><!-- .span4 -->
    <div class="span4">
        <p style="background:#f4f4f4; letter-spacing:4px">Umidade</p>
        <span style="font-size:56px;font-weight:bold">
        {{ read_data.humidity }}%
        </span>

        <!--
        <p><a class="btn" href="#">Click
            meeee &raquo;</a></p>
        -->
    </div><!-- .span4 -->
</div><!--
.row
-->

<div class="footer">
    <p class="text-center">Atualizado em {{ read_data.created }}</p>
</div>
{% else %}
<p>Registro não encontrado.</p>
{% endif %}
{% endblock %}

