{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<meta http-equiv="refresh" content="10"/>
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
{% endblock css %}
{% endblock head %}
{% block content %}
<div id="main1">
    <div class="hero-unity">
        <h1 class="text-center">Sensor Web Monitor</h1>
    </div>
    <hr/>
{% if read_data %}    
    <div class="row-fluid marketing">
        <div class="span6 read-data">
            <h3 class="text-center">Temperatura</h3>
            <p class="text-center" id="temperature">{{ read_data.temperature }}&deg;C</p>
        </div>
        <div class="span6 read-data">
            <h3 class="text-center">Umidade</h3>
            <p class="text-center" id="humidity">{{ read_data.humidity }}%</p>
        </div>
    </div>
    <hr/>
    <div class="jumbotron">
        <p class="lead text-center">Atualizado em {{ read_data.created}}h.</p>
    </div>
</div>
{% else %}
<p>Registro não encontrado.</p>
{% endif %}
{% endblock %}

