#main1 {
    margin: 0px auto;
    max-width: 700px;
}

#temperature, #humidity {
    font-size: 86px;
    font-weight: bold;
    padding-top: 30px;
}

.read-data {
    height: 200px;
    background-color: #CCCCCC;
}

