{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link href="{% static "css/charts.css" %}" rel="stylesheet"/> 
{% endblock css %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Principal</a><span class="divider">/</span></li>
    <li><a href="/charts/">Gráfico</a><span class="divider">/</span></li>
    <li class="active">Resultado</li>
</ul>
{% if data %}
<div id="placeholder"></div>
{% block js %}
<script src="{% static "js/jquery.flot.min.js" %}"></script>
<!--[if lte IE 8]>
<script language="javascript" type="text/javascript" src="{% static "js/excanvas.min.js" %}"></script>
<![endif]-->
<script>
    $(function() {
        var data = {{ data }};
        $.plot("#placeholder", [data]);
    });
</script>
{% endblock js %}
{% elif data|length == 0 %}
<p>Nenhum registro encontrado.</p>
{% endif %}
{% endblock content %}

