{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link href="{% static "css/charts.css" %}" rel="stylesheet"/> 
{% endblock css %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Principal</a><span class="divider">/</span></li>
    <li><a href="/charts/">Gráfico</a><span class="divider">/</span></li>
    <li class="active">Resultado</li>
</ul>
{% if read_data_list %}
<div id="placeholder"></div>
{% block js %}
<script src="{% static "js/jquery.flot.min.js" %}"></script>
<script src="{% static "js/charts.js" %}"></script>
{% endblock js %}
{% elif read_data_list|length == 0 %}
<p>Nenhum registro encontrado.</p>
{% endif %}
{% endblock content %}

