{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link hre="{% static "css/charts.css" %}" rel="styleshhet"/> 
{% endblock css %}
{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Principal</a><span class="divider">/</span></li>
    <li><a href="/charts/">Gráfico</a><span class="divider">/</span></li>
    <li class="active">Resultado</li>
</ul>
<div id="container"></div>
{% endblock content %}
{% block js %}
<script src="{% static "js/highcharts.js" %}"></script>
<script src="{% static "js/charts.js" %}"></script>
{% endblock js %}

